<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title th:text="${user.name} + ' | SCM' "></title>
  </head>
  <body>
    <div id="content">
      <div th:if="${user}">
        <div th:replace="~{user/sidebar :: sidebar}"></div>
      </div>
      <div class="sm:pl-64">
        <div id="edit_div" class="grid grid-cols-12 mt-5">
          <div class="col-span-2"></div>
          <div class="col-span-12 lg:col-span-8">
            <div
              class="block p-6 border-t-blue-700 border-t-8 bg-white border border-gray-200 rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-t-blue-700 dark:border-x-gray-700 dark:border-b-gray-700 dark:hover:bg-gray-700"
            >
              <div th:if="${message != null}">
                <div
                  th:if="${message.type=='success'}"
                  th:insert="message::messageBoxSuccess"
                ></div>
                <div
                  th:if="${message.type=='error'}"
                  th:insert="message::messageBoxError"
                ></div>
              </div>
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Change Password
              </h5>
              <p class="font-normal text-gray-700 dark:text-gray-400"></p>

              <form
                th:action="@{'/user/password-change'}"
                method="post"
                novalidate
                th:object="${passwordDto}"
                id="pass-form"
              >
                <div class="my-10">
                  <input
                    type="password"
                    id="oldPassword"
                    th:field="*{oldPassword}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Type old password here"
                    required
                  />
                </div>

                <div class="my-10">
                  <input
                    type="password"
                    id="newpassword"
                    th:field="*{newPassword}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Type new password here"
                    required
                  />
                </div>
                <div class="my-10">
                  <input
                    type="password"
                    id="confirmPassword"
                    th:field="*{confirmPassword}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Type confirm password here"
                    required
                  />
                  <div
                    id="error-message"
                    style="color: red; display: none"
                  ></div>
                </div>

                <div class="flex justify-center items-center space-x-4 mt-5">
                  <button
                    id="save_btn"
                    type="submit"
                    class="uppercase px-3 py-2 rounded-lg bg-gray-800 text-white dark:bg-gray-50 dark:hover:bg-gray-200 dark:text-black"
                  >
                    Change
                  </button>
                  <div
                    class="text-center mt-3"
                    id="spinner"
                    style="display: none"
                  >
                    <div role="status">
                      <svg
                        aria-hidden="true"
                        class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                        viewBox="0 0 100 101"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                          fill="currentColor"
                        />
                        <path
                          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                          fill="currentFill"
                        />
                      </svg>
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document
          .querySelector("#pass-form")
          .addEventListener("submit", function (e) {
            console.log("form submitted");

            const newPass = document.querySelector("#newpassword").value;
            const confirmPass =
              document.querySelector("#confirmPassword").value;
            const errorMessage = document.querySelector("#error-message");

            if (!newPass || !confirmPass) {
              e.preventDefault();
              errorMessage.textContent = "Password cannot be empty";
              errorMessage.style.display = "block";
            } else if (newPass !== confirmPass) {
              e.preventDefault();
              errorMessage.textContent =
                "New password and confirm password do not match.";
              errorMessage.style.display = "block";
            } else {
              errorMessage.style.display = "none"; // Hide error message if passwords match
            }
          });
      });
    </script>
  </body>
</html>
