<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section class="">
      <div class="container" id="login-form">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="my-card mt-3">
              <h3>Set new Password</h3>
              <form th:action="@{/update-password}" method="post">
                <div class="mb-3">
                  <input
                    required
                    type="password"
                    class="form-control"
                    name="password"
                    id=""
                    placeholder="Enter new Password here"
                  />
                </div>
                <div class="text-center">
                  <button class="btn btn-primary">Change Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
